/* Projects effetcs */

.container {
    position: relative;
    width   : 100%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.project-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #161616;
}

.container:hover .project-image {
    opacity: 0.3;
}

.container:hover .overlay {
    opacity: .75;
}

/*buttons and effects*/
.cv-button {
    color              : #4C5A9F;
    background-color   : transparent;
    border-width       : 2px;
    border             : solid;
    text-align         : center;
    transition-duration: 0.4s;
    font-size          : 20px;
    /*border-radius    : 22px;*/
    padding            : 10px 80px;
    text-decoration    : none;
}

.cv-button:hover {
    background-color: #4C5A9F;
    color           : white;
}

.contact-button {
    transition-duration: 0.6s;
    width              : 60%;
    margin-left        : auto;
    margin-right       : auto;
    display            : block;
}

.contact-button:hover {
    opacity: 0.6;
}

.game-cover {
    /*margin-left: 10%;
    margin-right: 10%;*/
    margin-top   : 1.5%;
    margin-bottom: 1.5%;
}

.project-skills{
   display: grid;
}

/* -- Navbar -- */
#navbar {
    overflow        : hidden;
    background-color: #2D2D2D;
    width           : 100%;
}

#navbar a {
    float              : left;
    display            : block;
    color              : #f2f2f2;
    text-align         : center;
    padding            : 17px 16px;
    text-decoration    : none;
    font-size          : 18px;
    width              : 33.33%;
    transition-duration: 0.2s;
}

#navbar a:hover {
    background-color: #ddd;
    color           : black;
}

#navbar a.active {
    background-color: #4CAF50;
    color           : white;
}

/*-----------------------*/