/*buttons and effects*/
.cv-button{
    color:#00C9FF;
    background-color: transparent;
    border-color: turquoise;
    border: solid;
    text-align: center;
    transition-duration: 0.4s;
    font-size: 20px;
    border-radius: 22px;
    padding: 15px 100px;
    text-decoration: none;
    margin-left: 35%;
}

.cv-button:hover{
    background-color:#00C9FF;
    border-color: #00C9FF;
    color: white;
}

.contact-button{
    width: 7vw;
}

.contact-button:hover{
    opacity: 0.8;
}

/* -- Navbar -- */
#navbar {
    overflow: hidden;
    background-color: #2D2D2D;
    width: 100%;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    font-size: 18px;
    width:33.33%;
    transition-duration: 0.2s;
  }

#navbar a:hover {
background-color: #ddd;
color: black;
}

#navbar a.active {
background-color: #4CAF50;
color: white;
}
/*-----------------------*/