
h3{
    font-size: 2vw;
}

p{
    text-align  : justify;
    text-justify: inter-word;
}

a {
    font-size: 14px;;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h2 {
        font-size: 30px;
    }

    p{
        font-size: 16px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h2 {
        font-size: 44px;
    }

    p{
        font-size: 14px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h2 {
        font-size: 40px;
    }

    p{
        font-size: 20px;
    }
}

.contribution {
    font-size          : 18px;
    color              : white;
    text-align         : center;
    list-style-position: inside;
    padding-bottom     : 2vw;
    font-weight        : bold;
}

ul {
    padding-left: 0;
}

.project-text {
    color            : white;
    font-size        : 20px;
    position         : absolute;
    top              : 50%;
    left             : 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform    : translate(-50%, -50%);
    transform        : translate(-50%, -50%);
    text-align       : left;
}

.left-text {
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
}